* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  height: 100;
  padding: 40vh;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.3))), url(/scss/seb.jpg) center top;
  background: linear-gradient(to right rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url(/scss/seb.jpg) center top;
  background-size: cover;
}

.home_name {
  font-size: 5rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  border-bottom: 2px solid #fff;
}

.home_name--last {
  color: #ffee00;
  font-weight: 700;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav:hover {
  color: orange;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all 0.5 ease-in-out;
  transition: all 0.5 ease-in-out;
}

.menu-btn_burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #fff;
}

.menu-btn_burger :hover {
  color: orangered;
}

.menu-btn_burger::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 0.5 ease-in-out;
  transition: all 0.5 ease-in-out;
}

.menu-btn_burger::after {
  content: '';
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 0.5 ease-in-out;
  transition: all 0.5 ease-in-out;
}

.menu-btn_burger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.menu-btn_burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn_burger.open::after {
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  display: inline-flexbox;
  top: 0;
  left: 0;
  width: 100vh;
  opacity: 0.98;
}

.nav.open {
  visibility: visible;
}

.nav:hover {
  color: orange;
}

.about {
  height: 100;
  padding: 40vh;
  border: white;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: left;
  border-top: yellow;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.3))), url(/scss/1449676.jpg) left;
  background: linear-gradient(to right rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url(/scss/1449676.jpg) left;
  background-size: cover;
  position: relative;
}

.about_name {
  text-align: left;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.about_name--last {
  font-family: 'Times New Roman', Times, serif;
  color: red;
  text-align-last: left;
}

.about .images {
  background: url(./wp4269833.jpg) center top;
  background-size: cover;
  padding-bottom: 10px;
  border-bottom: yellow;
}

.aston {
  text-align: left center;
}

body {
  background: #272727;
  color: #fff;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

h1 h2 h3 {
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.5 ease-in-out;
  transition: all 0.5 ease-in-out;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;
}

main .social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

main .social-icons a {
  padding: 0.4rem;
}

main .social-icons a:hover {
  color: #ffee00;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */